boxify/*
!boxify/.gitignore

jelibox/*
!jelibox/.gitignore

venv/*
!venv/.gitignore

exportTools/*
!exportTools/.gitignore

datasetsInput/*
!datasetsInput/.gitignore

configs/*
!configs/.gitignore

export dataset/*
!export dataset/.gitignore

export model/*
!export model/.gitignore

YOLOdataset/*
!YOLOdataset/.gitignore

models/*
!models/.gitignore

vocdataset/*
!vocdataset/.gitignore

YOLOdataset/*
!YOLOdataset/.gitignore

__pycache__/
*.pyc
